:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-bg-color: #2f303a;
  --secondary-bg-color: #f5f4fa;
  --adrress-color: rgba(255, 255, 255, 0.6);
  --pure-black-color: #000000;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

a {
  text-decoration: none;
}
.list {
  list-style: none;
}

.page-body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.71;
}

.logo {
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.header-logo {
  color: var(--pure-black-color);
}

.footer-logo {
  color: var(--primary-white-color);
}

/* site nav */

.site-nav .link {
  color: var(--title-text-color);
}

/* site+contacts nav */

.site-nav .link:hover,
.site-nav .link:focus,
.contacts-nav .mail:hover,
.contacts-nav .mail:focus,
.contacts-nav .phone:hover,
.contacts-nav .phone:focus {
  color: var(--accent-color);
}

.site-nav,
.contacts-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

/*contacts nav*/

.contacts-nav .mail,
.contacts-nav .phone {
  color: var(--primary-text-color);
}

/*Hero*/

.hero,
.section-footer {
  background-color: var(--primary-bg-color);
}

.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.primary-button,
.primary-button:hover,
.primary-button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

/*main*/

.section-title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
}

/*our team*/

.section-team {
  background-color: var(--secondary-bg-color);
}

.member {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.member-domain {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

/*footer*/

.address {
  color: var(--primary-white-color);
}

.section-footer .mail,
.section-footer .phone {
  color: var(--adrress-color);
}

.address:hover,
.address:focus,
.section-footer .mail:hover,
.section-footer .mail:focus,
.section-footer .phone:hover,
.section-footer .phone:focus {
  color: var(--accent-color);
}

/*portfolio*/

.secondary-button {
  color: var(--title-text-color);
  background-color: var(--secondary-bg-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.secondary-button:hover,
.secondary-button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.link {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.9;
}

.link-title {
  color: var(--title-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
