
:root{
 --main-text-color: #757575;
 --dark-bg-text-color: #FFFFFF;
 --accent-color: #2196F3;
 --title-color: #212121;
 --dark-bg-color: #2F303A;
}

body{
font-family: "Roboto", sans-serif; 
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--main-text-color)
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.link{
    text-decoration: none;
    color: inherit;
    
}

.link:hover,
.link:focus{
color: var(--accent-color);
}

.list{
    list-style: none;
}


}

.button{
    cursor: pointer;
}

.button{
font-weight: 500;
font-size: 16px;
line-height: 1.87;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: var(--dark-bg-text-color);
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}

.page-title{
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
}

.section-title{
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
color: var( --title-color);
}

.section-people{
font-weight: 500;
font-size: 16px;
line-height: 1.187;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-color);
}

.section-people-text{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 1.187px;
text-align: center;
letter-spacing: 0.03em;
color: var(--main-text-color);

}

.section-text{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--title-color);
}

.section-text-list{
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--main-text-color);
}

